*.md
README*
CHANGELOG*
LICENSE*
.gitignore

.git
.vscode
.idea
.husky
.github
.kontinuous
.env*

biome.json
commitlint.config.ts
.eslintrc*
.prettierrc*
tsconfig*.json
jest.config*
vitest.config*

**/node_modules
**/dist
**/build
**/.next
**/.nuxt
**/coverage
**/.nyc_output
**/.cache
**/tmp
**/temp

**/*.log
**/*.tsbuildinfo

**/Dockerfile*
**/docker-compose*
.dockerignore
**/deploy
**/k8s

**/__tests__
**/*.test.*
**/*.spec.*
**/tests
**/docs

.DS_Store
Thumbs.db
*.swp
*.swo
*~
