PG_URLSHORTENER_DB=urlshortener_db
PG_URLSHORTENER_USER=urlshortener_user
PG_URLSHORTENER_PASSWORD=urlshortener_password

PG_URL=postgres://urlshortener_user:urlshortener_password@postgres:5432/urlshortener_db
FRONTEND_PORT=3002

REDIS_URLSHORTENER_PASSWORD=urlshortener_redis_password
REDIS_URLSHORTENER_HOST=redis
REDIS_URLSHORTENER_PORT=6379

FRONTEND_URL=http://localhost:3000
VITE_BACKEND_URL=http://localhost:3000/api
VITE_REDIRECTOR_URL=http://localhost:3001

JWT_REFRESH_SECRET=replace_me
JWT_AUTH_SECRET=replace_me
JWT_SESSION_SECRET=replace_me

SMTP_HOST=maildev
SMTP_PORT=1025
SMTP_AUTH_USER=dev@example.com
SMTP_AUTH_PASS=dev

NAME_AUTH_TOKEN=auth_token
NAME_REFRESH_TOKEN=refresh_token

AMQP_URL=amqp://rabbitmq:5672
AMQP_MAIL_QUEUE=mail.send
AMQP_MAIL_PREFETCH=10
