PG_URLSHORTENER_DB=urlshortener_db
PG_URLSHORTENER_USER=urlshortener_user
PG_URLSHORTENER_PASSWORD=urlshortener_password

PG_URL=postgres://urlshortener_user:urlshortener_password@postgres:5432/urlshortener_db

REDIS_URLSHORTENER_PASSWORD=urlshortener_redis_password
REDIS_URLSHORTENER_HOST=redis
REDIS_URLSHORTENER_PORT=6379

FRONTEND_URL=http://localhost:3000
VITE_BACKEND_URL=http://localhost:3000/api
